html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.medium-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
.medium-container h1, .medium-container h2, .medium-container h3, .medium-container h4, .medium-container pre, .medium-container p,
.medium-container ul, .medium-container ol,
.medium-container figure,
.medium-container blockquote {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 30px; }
  @media (min-width: 701px) {
    .medium-container h1, .medium-container h2, .medium-container h3, .medium-container h4, .medium-container pre, .medium-container p,
    .medium-container ul, .medium-container ol,
    .medium-container figure,
    .medium-container blockquote {
      width: 700px;
      margin: 0 auto 30px;
      padding: 0; } }
.medium-container h1, .medium-container h2, .medium-container h3, .medium-container h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.028em;
  margin: 0 auto 15px;
  color: black; }
.medium-container h1 {
  margin-top: 20px;
  font-size: 40px; }
.medium-container h2 {
  font-size: 27px;
  color: gray;
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 0; }
.medium-container h3 {
  font-size: 32px; }
.medium-container h4 {
  font-size: 24px; }
.medium-container img {
  width: 100%; }
.medium-container a {
  color: inherit; }
.medium-container ul, .medium-container ol, .medium-container p, .medium-container blockquote {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
  color: rgba(0, 0, 0, 0.6); }
.medium-container blockquote {
  font-style: italic;
  border-left: 10px solid #ccc;
  padding-left: 20px; }
.medium-container li {
  margin-left: 20px; }
.medium-container pre {
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.05);
  padding: 20px;
  white-space: pre-wrap; }
.medium-container figure {
  position: relative; }
.medium-container figcaption {
  font-size: 14px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0;
  text-align: center;
  padding: 10px;
  margin-bottom: -10px; }

.medium-ratio {
  position: relative;
  margin: 0 auto; }
  .medium-ratio img,
  .medium-ratio iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.medium-dropcap:first-letter {
  float: left;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  padding-top: 7px;
  margin-left: -5px;
  margin-right: 7px;
  letter-spacing: -0.03em;
  line-height: 0.83;
  margin-bottom: -0.08em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.medium-layout-larger figure,
.medium-layout-fullwidth figure {
  padding: 0;
  width: 100%; }

@media (min-width: 701px) {
  .medium-layout-fullwidth figure {
    width: 100%; }
  .medium-layout-fullwidth .medium-ratio {
    max-width: 100% !important;
    max-height: 100% !important; }

  .medium-layout-left {
    margin: 0 auto; } }
  @media (min-width: 701px) and (min-width: 701px) {
    .medium-layout-left {
      max-width: 700px; } }
@media (min-width: 701px) {
    .medium-layout-left figure {
      float: left; } }
    @media (min-width: 701px) and (min-width: 701px) {
      .medium-layout-left figure {
        width: 400px;
        margin: 4px 30px 8px -50px; } }
    @media (min-width: 701px) and (min-width: 901px) {
      .medium-layout-left figure {
        width: 560px;
        margin: 4px 30px 8px -100px; } }

@media (min-width: 701px) {
  .medium-layout-larger figure {
    width: 100%; } }
@media (min-width: 701px) and (min-width: 901px) {
  .medium-layout-larger figure {
    width: 900px; } }

/*# sourceMappingURL=styles.css.map */
